<div class="row">
  <div class="row justify-content-center">
    <div class="col-sm-9">
      <h1> Lista de lugares de Comida</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-9">
      <form [formGroup]="formularioBuscar"
            novalidate
      >
        <div class="form-group">
          <label for="busqueda">
            <i class="fas fa-search"></i>
            <input type="text"
                   id="busqueda"
                   [formControlName]="'busqueda'"
                   class="form-control"
                   aria-describedby="nombreHelp"
                   placeholder="Busque un lugar de comida"
            >
          </label>
          <small id="nombreHelp" class="form-text"></small>

          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="btn" id="button-addon2" (click)="buscar()"><i class="fas fa-search"></i> BUSCAR</button>
          </div>

        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-12">
        select
      </div>
    </div>
  </div>





  <div class="row" style="padding-top: 3rem; padding-left: 3rem; padding-right: 2rem">
    <p-table [columns]="cols" [value]="arregloLugares"
             [paginator]="true"
             [rows]="5"
             [lazy]="true"
             (onLazyLoad)="cargarMasDatos($event)"
             [totalRecords]="registrosTotales"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header | titlecase}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ciudadFila let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <div *ngIf="col.header==='acciones'">
              <button (click)="abrirCompras(ciudadFila)" class="btn btn-block btn-info"
              > Comprar</button>
            </div>
            <div *ngIf="col.header==='espacio'">
              {{ciudadFila[col.field] | espacio}}
            </div>
            <div *ngIf="col.header==='tipo'">
              {{ciudadFila[col.field] | tipoR}}
            </div>
            <div *ngIf="col.header==='reserva'">
              <button class="btn btn-block btn-success"
              >
                {{ciudadFila[col.field] | reserva}}
              </button>
            </div>
            <div *ngIf="col.header!=='acciones' && col.header!=='estado' && col.header!=='espacio' && col.header!=='tipo'">
              {{ciudadFila[col.field]}}
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No hay registros
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>


</div>

